*.egg-info
*.egg
*.EGG
*.EGG-INFO
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
*~
*.bak

# Project specific files #
##########################
*.traineddata
*.tif
*.box
*.tr
*.inttemp
*.normproto
*.pffmtable
*.unicharset
*.Microfeat
*.otf
*.ttf
font_properties
mfunicharset

# PyPI
MANIFEST*
dist/
